# OS X
*.DS_Store

# Build Outputs
compile_commands.json

# Generate Projects
*.xcscheme
/*.xcodeproj
*.xcodeproj-tmp
/xchammer.app
depsHash

tulsigen-*
tulsi-includes
tulsi-workspace
tulsi-aspects
xchammer-workspace

*.xcode_select_env
bazel-*
sample/*/*.xcodeproj
external

*.pyc
*.swp

xchammer-includes
vendor/bundle
